<?xml version="1.0" encoding="UTF-8"?>
<settings xml_author="Omar Pautz (Spell Master)">
    <siteName>Source-Map</siteName> <!-- Nome do website -->
    
    <!-- Habilitar ou desabilitar recursos (y: SIM / n: NÃO) -->
    <enable>
        <user>y</user> <!-- Habilitar cadastro e login para usuários comuns -->
        <mail>y</mail> <!-- Habilitar sistema de e-mail -->
        <newConfirm>n</newConfirm> <!-- Solicitar confirmação de cadastros por e-mail -->
        <captchaSensitive>n</captchaSensitive> <!-- O código captcha deve diferenciar letras minúsculas de maiúsculas -->
        <loginError>y</loginError> <!-- Quando errar o login registrar o erro para bloquear acesso da máquina -->
        <notification>y</notification> <!-- Habilitar notificações -->
        <message>y</message> <!-- Habilitar mensagens pessoais -->
        <search>y</search> <!-- Permitir uso de sistema de pesquisa? -->
    </enable>
    
    <!-- Determinar quantidades de entradas -->
    <length>
        <colldown>1</colldown> <!-- Aguardar em segundos até um arquivo seja aberto por um AJAX -->
        <reload>5</reload> <!-- Aguardar em segundos para redirecionar automaticamente -->
        <minName>4</minName> <!-- Mínimo de caracteres em nomes de usuário -->
        <maxName>30</maxName> <!-- Máximo de caracteres em nomes de usuário -->
        <minMail>11</minMail> <!-- Mínimo de caracteres em endereços de e-mail -->
        <maxMail>80</maxMail> <!-- Máximo de caracteres em endereços de e-mail -->
        <minPass>6</minPass> <!-- Mínimo de caracteres em senha -->
        <maxPass>50</maxPass> <!-- Máximo de caracteres em senha -->
        <minSearch>1</minSearch> <!-- Mínimo de caracteres para formulários de pesquisa -->
        <maxSearch>10</maxSearch> <!-- Máximo de caracteres para formulários de pesquisa -->
        <loginError>3</loginError> <!-- Quantidade de logins falhos até bloquear a máquina -->
        <longStr>400</longStr> <!-- Quantidade de caracteres até ser cortado -->
        <minPageTitle>3</minPageTitle> <!-- Mínimo de caracteres em títulos de página -->
        <maxPageTitle>30</maxPageTitle> <!-- Máximo de caracteres em títulos de página -->
        <minPageData>1</minPageData> <!-- Mínimo de caracteres em conteúdo de página -->
        <maxPageData>100000</maxPageData> <!-- Máximo de caracteres em conteúdo de página -->
        <minSectorTitle>3</minSectorTitle> <!-- Mínimo de caracteres em títulos de setores -->
        <maxSectorTitle>30</maxSectorTitle> <!-- Máximo de caracteres em títulos de página -->
        <minSectorDesc>1</minSectorDesc> <!-- Mínimo de caracteres na descrição de setores -->
        <maxSectorDesc>100000</maxSectorDesc> <!-- Máximo de caracteres na descrição de setores -->
    </length>
    
    <rows>
        <search>3</search> <!-- Quantos registros devem existir para habilitar uma pesquisa? -->
        <pag>3</pag> <!-- quantos registros devem ser exibidos por página em uma paginação? -->
    </rows>

</settings>
