<?xml version="1.0" encoding="UTF-8"?>
<settings xml_author="Omar Pautz (Spell Master)">
    <siteName>Source-Map</siteName> <!-- Nome do website -->
    
    <!-- Habilitar ou desabilitar recursos (y: SIM / n: NÃO) -->
    <enable>
        <user>y</user> <!-- Habilitar cadastro e login para usuários comuns -->
        <mail>y</mail> <!-- Habilitar sistema de e-mail -->
        <newConfirm>n</newConfirm> <!-- Solicitar confirmação de cadastros por e-mail -->
        <captchaSensitive>n</captchaSensitive> <!-- O código captcha deve diferenciar letras minúsculas de maiúsculas -->
        <loginError>y</loginError> <!-- Quando errar o login registrar o erro para bloquear acesso da máquina -->
        <notification>y</notification> <!-- Habilitar notificações -->
        <message>y</message> <!-- Habilitar mensagens pessoais -->
    </enable>
    
    <!-- Determinar quantidades de entradas -->
    <length>
        <colldown>1</colldown> <!-- Aguardar em segundos até um arquivo seja aberto por um AJAX -->
        <reload>5</reload> <!-- Aguardar em segundos para redirecionar automaticamente -->
        <minName>4</minName> <!-- Mínimo de caracteres em nomes de usuário -->
        <maxName>30</maxName> <!-- Máximo de caracteres em nomes de usuário -->
        <minMail>11</minMail> <!-- Mínimo de caracteres em endereços de e-mail -->
        <maxMail>80</maxMail> <!-- Máximo de caracteres em endereços de e-mail -->
        <minPass>6</minPass> <!-- Mínimo de caracteres em senha -->
        <maxPass>50</maxPass> <!-- Máximo de caracteres em senha -->
        <loginError>3</loginError> <!-- Quantidade de logins falhos até bloquear a máquina -->
    </length>

</settings>
